<% provide :title, "クライアント登録-確認" %>
<% provide :breadcrumb_items, "Home クライアント" %>

<%= form_with url: clients_registration_create_path, method: "post", local: true do %>
    <%= hidden_field_tag "registration_form", @form.to_json %>

    <div class="form-group text-right">
        <%= submit_tag "送信", class: "btn btn-primary" %>
    </div>
<% end %>

<div class="row">
    <div class="col">
        <div class="row"><div class="col">エリア</div><div class="col"><%= @form.area_name %></div></div>
        <div class="row"><div class="col">ＳＢ担当名</div><div class="col"><%= @form.tanto_name %></div></div>
        <div class="row"><div class="col">クライアント名</div><div class="col"><%= @form.name %></div></div>
        <div class="row"><div class="col">代表者名</div><div class="col"><%= @form.daihyo_name %></div></div>
        <div class="row"><div class="col">〒</div><div class="col"><%= @form.zip_code %></div></div>
        <div class="row"><div class="col">住所</div><div class="col"><%= @form.address %></div></div>
        <div class="row"><div class="col">ＴＥＬ</div><div class="col"><%= @form.tel %></div></div>
        <div class="row"><div class="col">業種1</div><div class="col"><%= @form.industry_name1 %></div></div>
        <div class="row"><div class="col">業種2</div><div class="col"><%= @form.industry_name2 %></div></div>
        <div class="row"><div class="col">代理店</div><div class="col"><%= @form.agent_name %></div></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">担当者名</th>
                    <th scope="col">担当者名カナ</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">役職</th>
                    <th scope="col">部署</th>
                    <th scope="col">希望連絡先</th>
                </tr>
            </thead>
            <tbody>
                <% @form.users.each.with_index(1) do |user, index| %>
                <tr>
                    <td><%= index %></td>
                    <td><%= user["name"] %></td>
                    <td><%= user["name_kana"] %></td>
                    <td><%= user["email"] %></td>
                    <td><%= user["position"] %></td>
                    <td><%= user["department"] %></td>
                    <td><%= user["contact_tel"] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
