<% provide :title, "保証審査登録-確認" %>
<% provide :breadcrumb_items, "Home クライアント" %>

<div class="row">
    <div class="col">
        <p class="h2">クライアント：<%= @form.client_name %></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">保証元</th>
                    <th scope="col">保証先</th>
                    <th scope="col">取引区分</th>
                    <th scope="col">希望保証額</th>
                    <th scope="col">他社保証額</th>
                </tr>
            </thead>
            <tbody>
                <% # 10件以下なら全部 ここから# %>
                <% if @form.exams.size <= 10 %>
                    <% @form.exams.each.with_index(1) do |exam, index| %>
                        <tr>
                            <td><%= index %></td>
                            <td><%= exam.sb_guarantee_client.company_name %></td>
                            <td><%= exam.sb_guarantee_customer.company_name %></td>
                            <td><%= exam.new_transaction ? "新規" : "既存" %></td>
                            <td><%= exam.guarantee_amount_hope %></td>
                            <td><%= exam.other_companies_ammount %></td>
                        </tr>
                    <% end %>
                <% end %>
                <% # 10件以下なら全部 ここまで# %>
                <% # 11件以上なら最初の3件と最後の3件 ここから# %>
                <% if @form.exams.size > 10 %>
                    <% @form.exams.first(3).each.with_index(1) do |exam, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= exam.sb_guarantee_client.company_name %></td>
                        <td><%= exam.sb_guarantee_customer.company_name %></td>
                        <td><%= exam.new_transaction ? "新規" : "既存" %></td>
                        <td><%= exam.guarantee_amount_hope %></td>
                        <td><%= exam.other_companies_ammount %></td>
                    </tr>
                    <% end %>
                    <tr><td colspan=7 class="text-center">:</td></tr>
                    <% @form.exams.last(3).each.with_index(@form.exams.size - 2) do |exam, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= exam.sb_guarantee_client.company_name %></td>
                        <td><%= exam.sb_guarantee_customer.company_name %></td>
                        <td><%= exam.new_transaction ? "新規" : "既存" %></td>
                        <td><%= exam.guarantee_amount_hope %></td>
                        <td><%= exam.other_companies_ammount %></td>
                    </tr>
                    <% end %>
                <% end %>
                <% # 11件以上なら最初の3件と最後の3件 ここまで# %>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p><strong>全 <%= @form.exams.size %> 件</strong></p>
    </div>
</div>
<%= form_with url: clients_registration_exams_create_path, method: "post", local: true do %>
    <%= hidden_field_tag "guarantee_exam_request_id", @form.sb_guarantee_exam_request.id %>
    <div class="form-group text-center">
        ファイル内容を確認して送信ボタンを押してください。
    </div>
    <div class="form-group text-center">
        <a href="<%= clients_registration_exams_index_path %>" class="btn btn-secondary" role="button" aria-pressed="true">キャンセル</a>
        <%= submit_tag "送信", class: "btn btn-primary" %>
    </div>
<% end %>
