<% provide :title, "保証審査登録-確認" %>
<% provide :breadcrumb_items, "Home クライアント" %>

<%= form_with url: clients_registration_create_path, method: "post", local: true do %>
    <%= hidden_field_tag "registration_form_users", @form.exams.to_json %>

    <div class="form-group text-right">
        <a href="<%= clients_registration_index_path %>" class="btn btn-secondary" role="button" aria-pressed="true">キャンセル</a>
        <%= submit_tag "送信", class: "btn btn-primary" %>
    </div>
<% end %>

<div class="row">
    <div class="col">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">担当者名</th>
                    <th scope="col">担当者名カナ</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">役職</th>
                    <th scope="col">部署</th>
                    <th scope="col">希望連絡先</th>
                </tr>
            </thead>
            <tbody>
                <% @form.exams.each.with_index(1) do |exam, index| %>
                <tr>
                    <td><%= index %></td>
                    <td><%= exam.to_json %></td>
                    <td><%= exam["user_name_kana"] %></td>
                    <td><%= exam["email"] %></td>
                    <td><%= exam["position"] %></td>
                    <td><%= exam["department"] %></td>
                    <td><%= exam["contact_tel"] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
