<% provide :title, "クライアント一覧" %>

<%= search_form_for(@q, url: clients_list_path) do |f| %>
  <div class="row">
    <div class="form-group col">
      <%= f.label :status_id_eq, "状態", class: "col-form-label col-form-label-sm" %>
      <div>
        <%= f.collection_select :status_id_eq, Status::ClientStatus.all, :id, :name, { include_blank: "-- 選択してください --" }, { class: "custom-select col" } %>
      </div>
    </div>
    <div class="form-group col">
      <%= f.label :area_eq, "エリア", class: "col-form-label col-form-label-sm" %>
      <div>
        <%= f.collection_select :area_id_eq, Area.all, :id, :name, { include_blank: "-- 選択してください --" }, { class: "custom-select col" } %>
      </div>
    </div>
    <div class="form-group col">
      <%= f.label :sb_tanto_name_cont, "SB担当者名", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :sb_tanto_name_cont, class: " form-control form-control-sm" %>
    </div>
    <div class="form-group col">
      <%= f.label :channel_id_eq, "媒体", class: "col-form-label col-form-label-sm" %>
      <div>
        <%= f.collection_select :channel_id_eq, Channel.all, :id, :name, { include_blank: "-- 選択してください --" }, { class: "custom-select" } %>
      </div>
    </div>
    <div class="form-group col">
      <%= f.label :sb_agent_name_cont, "代理店", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :sb_agent_name_cont, class: " form-control form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <%= f.label :name_cont, "クライアント名", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :name_cont, class: " form-control form-control-sm" %>
    </div>
    <div class="form-group col">
      <%= f.label :daihyo_name_cont, "代表者名", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :daihyo_name_cont, class: " form-control form-control-sm" %>
    </div>
    <div class="form-group col">
      <%= f.label :prefecture_code_eq, "都道府県", class: "col-form-label col-form-label-sm" %>
      <div>
        <%= f.collection_select :prefecture_code_eq, Prefecture.all, :id, :name, { include_blank: "-- 選択してください --" }, { class: "custom-select" } %>
      </div>
    </div>
    <div class="form-group col">
      <%= f.label :tel_eq, "電話番号", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :tel_eq, class: " form-control form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :sb_client_users_name_cont, "担当者名", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :sb_client_users_name_cont, class: " form-control form-control-sm" %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :sb_client_users_contact_tel_eq, "希望連絡先", class: "col-form-label col-form-label-sm" %>
      <%= f.search_field :sb_client_users_contact_tel_eq, class: " form-control form-control-sm" %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :created_at_gteq, "登録日", class: "col-form-label col-form-label-sm" %>
      <div>
          <%= f.date_field :created_at_gteq, include_blank: true, class: "form-control", style: "width:200px;display:inline-block" %>
          ～
        <%= f.date_field :created_at_lteq_end_of_day, include_blank: true, class: "form-control", style: "width:200px;display:inline-block" %>
      </div>
    </div>
  </div>
  <div class="form-group row text-center">
    <div class="col">
      <%= f.submit :class => "btn btn-secondary" %>
    </div>
  </div>
<% end %>
<!-- -->
<div class="row mb-3">
  <div class="col">
    <div class="text-right">
      <span><%= link_to "企業特定", "dummy", :class => "btn btn-primary btn-sm disabled", name: "btn-ready-for", id: "btn-company-not-detected" %>
      <span><%= link_to "審査登録をする", "dummy", :class => "btn btn-primary btn-sm disabled", name: "btn-ready-for", id: "btn-ready-for-exam" %>
      <span><%= link_to "保証登録をする", "dummy", :class => "btn btn-primary btn-sm disabled", name: "btn-ready-for", id: "btn-ready-for-aguarantee" %>
      <span><%= link_to "CL審査をする", "dummy", :class => "btn btn-primary btn-sm disabled", name: "btn-ready-for", id: "btn-ready-for-cl-exam" %>
      <span><%= link_to "CL決裁をする", "dummy", :class => "btn btn-primary btn-sm disabled", name: "btn-ready-for", id: "btn-ready-for-cl-approval" %>
    </div>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col">
    <table class="table table-hover table-striped table-sticky">
      <thead>
        <tr>
          <th>-</th>
          <th><%= sort_link(@q, :status_id, "状態") %></th>
          <th><%= sort_link(@q, :area_id, "エリア") %></th>
          <th><%= sort_link(@q, :sb_tanto_id, "SB担当者") %></th>
          <th><%= sort_link(@q, :name, "企業名") %></th>
          <th><%= sort_link(@q, :daihyo_name, "代表者名") %></th>
          <th><%= sort_link(@q, :prefecture_code, "都道府県") %></th>
          <th><%= sort_link(@q, :tel, "電話番号") %></th>
          <th><%= sort_link(@q, :sb_client_users_name, "担当者") %></th>
          <th><%= sort_link(@q, :sb_client_users_contact_tel, "希望連絡先") %></th>
          <th><%= sort_link(@q, :created_at, "登録日（取込）") %></th>
          <th><%= sort_link(@q, :channel_id, "媒体") %></th>
          <th><%= sort_link(@q, :sb_agent_id, "代理店") %></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= radio_button_tag "radio_id", client.id, false, onclick: "setButtonStatus(#{client.status_id}, #{client.id});" %></td>
            <td><%= client.status&.name %></td>
            <td><%= client.area&.name %></td>
            <td><%= client.sb_tanto&.name %></td>
            <td><%= client.name %></td>
            <td><%= client.daihyo_name %></td>
            <td><%= client.prefecture&.name %></td>
            <td><%= client.tel %></td>
            <td><%= client.sb_client_users&.first&.name %></td>
            <td><%= client.sb_client_users&.first&.contact_tel %></td>
            <td><%= client.created_at %></td>
            <td><%= client.channel&.name %></td>
            <td><%= client.sb_agent_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @clients %>
  </div>
</div>

<script>
function setButtonStatus(statusId, clientId){
    // いったんリンクを非活性にする
    document.getElementsByName('btn-ready-for').forEach(function(btn){
        btn.className = 'btn btn-primary btn-sm disabled';
    });
    // クライアントステータスに応じて、リンクボタンの非活性→活性に変更しhref設定
    (function(statusId, clientId){
        let btnId, url;
        if(statusId == <%= Status::ClientStatus::COMPANY_NOT_DETECTED.id %>){
          btnId = 'btn-company-not-detected';
          url = '/identify_company?id=' + clientId + '&classification=1';
          setButtonEnable(btnId,url)
        }
        //TODO 本来は契約済みだけだが、テストのため、ノーチェック
        // if(statusId == <%= Status::ClientStatus::CONTRACTED.id %>){
          // 審査登録
          btnId = 'btn-ready-for-exam';
          url = '/clients/'+clientId+'/registration_exams';
          setButtonEnable(btnId,url)
          // 保証登録
          btnId = 'btn-ready-for-aguarantee';
          url = '#';
          setButtonEnable(btnId,url)
        // }
        if(statusId == <%= Status::ClientStatus::READY_FOR_EXAM.id %>){
          //CL審査
          btnId = 'btn-ready-for-cl-exam';
          url = '/clients/exam/' + clientId;
          setButtonEnable(btnId,url)
        }
        if(statusId == <%= Status::ClientStatus::READY_FOR_APPROVAL.id %>){
          //CL決裁
          btnId = 'btn-ready-for-cl-approval';
          url = '#';
          setButtonEnable(btnId,url)
        }
        function setButtonEnable(btnId,url){
          if(url == "#"){
            document.getElementById(btnId).onclick = (function(){
                alert("工事中です。\nもうしばらくお待ち下さい。");
                return false;
              })
          }
          document.getElementById(btnId).className = 'btn btn-primary btn-sm';
          document.getElementById(btnId).href = url;
        }

})(statusId, clientId);
}
</script>
