<% provide :title, "企業特定" %>

<div class="row">
  <div class="col">
    <div class="text-right">
      <span><%= link_to "新規", "dummy", :class => "btn btn-primary" %>
    </div>
  </div>
</div>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th class="text-right">法人番号</th>
            <td class="text-left"><%= @identify_company.taxagency_corporate_number %></td>
          </tr>
          <tr>
            <th class="text-right">企業名</th>
            <td class="text-left"><%= @identify_company.name %></td>
          </tr>
          <tr>
            <th class="text-right">代表者名</th>
            <td class="text-left"><%= @identify_company.daihyo_name %></td>
          </tr>
          <tr>
            <th class="text-right">住所</th>
            <td class="text-left"><%= @identify_company.address %></td>
          </tr>
        </tbody>
      </table>
<!-- -->
<%= form_with url: identify_company_update_path, local: true do |f| %>
<div class="row">
  <div class="col">
    <div class="text-right">
      <%= f.submit "更新" ,:id => "update", :class => "btn btn-primary", :disabled => "true" %>
      <%= f.hidden_field :classification, value: params[:classification] %>
      <%= f.hidden_field :id, value: @identify_company.id %>
    </div>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>-</th>
          <th><%= Entity.human_attribute_name(:corporation_number) %></th>
          <th><%= Entity.human_attribute_name(:corporation_name) %></th>
          <th><%= Entity.human_attribute_name(:daihyo_name) %></th>
          <th><%= Entity.human_attribute_name(:address) %></th>
        </tr>
      </thead>
      <tbody>
        <% @entities.each do |entity| %>
          <tr>
            <td><%= f.radio_button :entity_id, entity.id, onclick: "document.getElementById('update').removeAttribute('disabled');"  %></td>
            <td><%= entity.corporation_number %></td>
            <td><%= entity.entity_profile.corporation_name %></td>
            <td><%= entity.entity_profile.daihyo_name %></td>
            <td><%= entity.entity_profile.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>