<% provide :title, "企業特定" %>


<div class="row">
  <div class="col">
    <div class="text-right">
      <%= link_to '新規', identify_company_new_entity_path( params: { id: @identify_company.id, classification: @identify_company.classification}), remote: true, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th class="text-right">法人番号</th>
      <td class="text-left"><%= @identify_company.taxagency_corporate_number %></td>
    </tr>
    <tr>
      <th class="text-right">企業名</th>
      <td class="text-left"><%= @identify_company.company_name %></td>
    </tr>
    <tr>
      <th class="text-right">代表者名</th>
      <td class="text-left"><%= @identify_company.daihyo_name %></td>
    </tr>
    <tr>
      <th class="text-right">住所</th>
      <td class="text-left"><%= @identify_company.address %></td>
    </tr>
  </tbody>
</table>
<div id="entity-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false"></div>
<%= form_with url: identify_company_update_path, local: true do |f| %>
<div class="row">
  <div class="col">
    <div class="text-right">
      <span><%= link_to "一覧に戻る", @identify_company.redirect_path , :class => "btn btn-primary" %>
      <%= f.submit "更新" ,:id => "update", :class => "btn btn-primary", :disabled => "true" %>
      <%= f.hidden_field :classification, value: @identify_company.classification %>
      <%= f.hidden_field :id, value: @identify_company.id %>
    </div>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>-</th>
          <th><%= Entity.human_attribute_name(:corporation_number) %></th>
          <th><%= Entity.human_attribute_name(:corporation_name) %></th>
          <th><%= Entity.human_attribute_name(:daihyo_name) %></th>
          <th><%= Entity.human_attribute_name(:address) %></th>
        </tr>
      </thead>
      <tbody>
        <% @entities.each do |entity| %>
          <tr>
            <td><%= f.radio_button :entity_id, entity.id, onclick: "document.getElementById('update').removeAttribute('disabled');"  %></td>
            <td><%= entity.corporation_number %></td>
            <td><%= entity.entity_profile.corporation_name %></td>
            <td><%= entity.entity_profile.daihyo_name %></td>
            <td><%= entity.entity_profile.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
